{% load humanize %}
{% block content %}
  <h1>Job List</h1>

  <!-- Link to create a new job -->
  <a hx-get="{% url 'home:job_create' step="step1" %}" hx-target="#body" hx-swap="innerHTML" href="#"  class="btn btn-primary">Add New Job</a>
  <!-- Table to display job list -->
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Consignee</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Gross Weight (kg)</th>
        <th>CBM</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.job_id }}</td>
          <td>{{ job.consignee }}</td>
          <td>{{ job.origin }}</td>
          <td>{{ job.final_destination }}</td>
          <td>{{ job.gross_weight }}</td>
          <td>{{ job.cbm }}</td>
          <td>${{ job.price|floatformat:2|intcomma }}</td>
          <td>
            <!-- View, Edit, and Delete links -->
            <a hx-get="{% url 'home:job_detail' job.pk %}" hx-target="#body" hx-swap="innerHTML" href="#" class="btn btn-info btn-sm">View</a>
            <a hx-get="{% url 'home:job_edit' job.pk %}" hx-target="#body" hx-swap="innerHTML" href="#" class="btn btn-warning btn-sm">Edit</a>
            <a hx-get="{% url 'home:job_delete' job.pk %}" hx-target="#body" hx-swap="innerHTML" href="#" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center">No jobs available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
