<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Msaidizi - Your trusted Partner</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/slim-select@2.8.2/dist/slimselect.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        // Global state for sorting (only the state needs to be global)
        var currentSortColumnIndex = -1;
        var isAscending = true;

    </script>
</head>

<body>
    <div id="page-container" class=" flex h-screen">
        {% include "snippets/aside.html" %}
        <div>
                    {% include "snippets/header.html" %}
        <main id="main-content" class="flex-grow p-6 overflow-y-auto w-full">

        </main>

        </div>

    </div>

</body>
<style>
    body {
        background-color: #16293e;
    }
    .ss-option{
        color:whitesmoke;
    }
</style>
<script src="../assets/js/htmx.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slim-select@2.8.2/dist/slimselect.min.js"></script>
</html>
